@use "../../scss/variables/index";
@use "../../scss/mixins/index";

.burger-event-container {
  padding: 70px 50px;
  @include max-breakpoint(lg) {
    padding: 0 40px;
  }
  @include max-breakpoint(md) {
    padding: 0 30px;
  }
  @include max-breakpoint(sm) {
    padding: 0 20px;
  }
  .burger-event-content {
    max-width: 1270px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    .burger-event-slides {
      box-shadow: 11px 10px 35px -6px rgba(136, 136, 136, 0.84);
      .burger-event-item-slide {
        display: flex;
        justify-content: space-between;
        @include max-breakpoint(md) {
          flex-direction: column;
        }
        .burger-event-info {
          max-width: 530px;
          width: 100%;
          height: 440px;
          padding: 4rem 0 4rem 2rem;
          position: relative;
          @include max-breakpoint(md) {
            padding: 2rem 0 2rem 2rem;
            order: 2;
          }
          h4 {
            font-size: 2rem;
            line-height: 25px;
          }
          h3 {
            font-size: 2.2rem;
            margin-bottom: 1.5rem;
          }
          p {
            max-width: 500px;
            width: 100%;
            line-height: 32px;
          }
        }
        .burger-event-img {
          padding: 1.5rem;
          img {
            width: 100%;
            max-width: 660px;
            height: 100%;
          }
        }
      }
    }
    .slides-button-container {
      display: flex;
      position: absolute;
      bottom: 30px;
      left: 30px;
      .slides-button-trigger {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $light-white;
        cursor: pointer;
        &:nth-child(1),
        &:nth-child(2) {
          margin: 0 0.5rem 0 0;
        }
        &.active {
          background-color: $yellow;
        }
      }
    }
  }
}
