@import "../mixins/index";
@import "../functions/index";
@import "../variables/";

// Container Utility Classes
.container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 50px;
  @include max-breakpoint(lg) {
    padding: 0 40px;
  }
  @include max-breakpoint(md) {
    padding: 0 30px;
  }
  @include max-breakpoint(sm) {
    padding: 0 20px;
  }
}
.container-fluid {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 80px 50px 0px;
  @include max-breakpoint(lg) {
    padding: 80px 40px;
  }
  @include max-breakpoint(md) {
    padding: 80px 30px;
  }
  @include max-breakpoint(sm) {
    padding: 80px 20px;
  }
}
// Nav Utility Classes
.navbar {
  display: flex;
  align-items: center;
}
.nav-link {
  color: $text-brown;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1rem 2rem;
  letter-spacing: 2px;
  font-family: $body-sub-text;
  @include MakeButtonTransition;
  &:hover {
    color: $dark-gray;
  }
}

// Button Utility Class
.btn {
  outline: none;
  cursor: pointer;
  border: 1px;
  border-style: solid;
  border-color: transparent;
  padding: 0.5rem 1rem;
  @include MakeButtonTransition();
}

@each $key, $value in $custom-color-theme {
  .btn-#{$key} {
    @extend .btn;
    background-color: $value;
    color: switch-font-color($value);
    font-family: button-fonts($key);
    &:hover {
      background-color: transparent;
      border-color: $value;
      color: hover-button-font-color($key);
    }
  }
}

// Text Utility Class
.text-b {
  color: $text-brown;
}
.text-l {
  color: $text-light;
}
.text-lw {
  color: $light-white;
}
.text-dg {
  color: $dark-gray;
}
// Font Utility Class
.text-bebas {
  font-family: $body-sub-text;
  letter-spacing: 1px;
}
.text-alfa {
  font-family: $body-htag-text;
}
