.nav {
  width: 100%;
  position: absolute;
  padding: 55px 0 0 0;
  z-index: 1;
  .custom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-right-container {
    .navbar-express {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 2rem 0 0;
      p {
        font-weight: 700;
        margin: 0 0 0 1rem;
      }
    }
    .navbar {
      justify-content: flex-end;
    }
  }
}
