@font-face {
  font-family: "Alfa Slab One", sans-serif;
  src: url("../../assets/fonts/AlfaSlabOne-Regular.ttf");

  font-weight: 400;
}
@font-face {
  font-family: "Bebas Neue", sans-serif;
  src: url("../../assets/fonts/BebasNeue-Regular.ttf");

  font-weight: 400;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../../assets/fonts/Montserrat-Regular.ttf");

  font-weight: 400;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../../assets/fonts/Montserrat-Medium.ttf");

  font-weight: 500;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../../assets/fonts/Montserrat-Bold.ttf");

  font-weight: 700;
}
