@use "../../scss/variables/index";
@use "../../scss/mixins/index";

.burger-showcase-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(300px, 600px));
  grid-column-gap: 2.8125rem;
  padding: 0 0 70px;
  @include max-breakpoint(md) {
    grid-template-columns: minmax(300px, 600px);
    grid-row-gap: 32px;
  }
  .burger-col-1 {
    width: 100%;
    max-width: 600px;
    height: 420px;
    background-image: url("../../assets/products/product-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    .burger-showcase-desc {
      padding: 1.5rem;
      p,
      h3 {
        color: $light;
      }
      p {
        font-size: 1.5rem;
      }
      h3 {
        font-size: 2.5rem;
      }
    }
  }
  .burger-col-2 {
    width: 100%;
    max-width: 600px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .burger-col-2-col-1,
    .burger-col-2-col-2 {
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 5px;
      .burger-showcase-desc {
        padding: 1.5rem;
        p,
        h3 {
          color: $light;
        }
        p {
          font-size: 1.5rem;
        }
        h3 {
          font-size: 2.5rem;
        }
      }
    }

    .burger-col-2-col-1 {
      height: 195px;
      background-image: url("../../assets/products/product-2.jpg");
    }

    .burger-col-2-col-2 {
      height: 195px;
      background-image: url("../../assets/products/product-3.jpg");
    }
  }
}
.catch-phrase {
  max-width: 220px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
}
