@import "../../scss/mixins/index";

.banner-container {
  height: 95vh;
  background-image: url("../../assets/images/banner-bg.jpg");
  background-repeat: no-repeat;
  object-fit: fill;
  background-size: cover;
  position: relative;
  @include breakpoint(md) {
    height: 70vh;
  }
  @include max-breakpoint(md) {
    height: 90vh;
  }
  @include max-breakpoint(sm) {
    height: 100vh;
  }
  @include landscape-breakpoint(sm) {
    height: 600px;
  }
  .banner-custom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include max-breakpoint(md) {
      flex-direction: column;
      justify-content: flex-end;
    }
    .banner-info {
      p {
        max-width: 400px;
        letter-spacing: 2.5px;
        font-weight: 500;
        padding: 0.5rem 0 0.5rem 1rem;
        margin: 0 0 1rem;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%233D2514FF' stroke-width='3' stroke-dasharray='7%2c 15' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        @include max-breakpoint(sm) {
          text-align: center;
        }
      }
      h1,
      h2 {
        text-shadow: 1px 3px 2px rgb(255, 255, 255);
      }
      h1 {
        font-size: 7rem;
        // font-size: calc(18px + 40 * ((100vw - 320px) / 680));
        @include breakpoint(xs) {
          font-size: calc(18px + 100 * ((100vw - 320px) / 680));
        }
        @include breakpoint(sm) {
          font-size: calc(18px + 40 * ((100vw - 320px) / 680));
        }
        @include breakpoint(md) {
          font-size: calc(18px + 40 * ((100vw - 320px) / 680));
        }
        @include breakpoint(lg) {
          font-size: calc(18px + 40 * ((100vw - 320px) / 680));
        }
        @include breakpoint(xl) {
          font-size: calc(18px + 40 * ((100vw - 320px) / 680));
        }
        @include max-breakpoint(md) {
          text-align: center;
        }
        @include max-breakpoint(sm) {
          line-height: 64px;
        }
        line-height: 7rem;
        .banner-sp-text {
          @include min-breakpoint(md) {
            display: none;
          }
        }
      }
      h2 {
        font-size: 3.5rem;
        @include breakpoint(md) {
          font-size: calc(18px + 16 * ((100vw - 320px) / 680));
        }
        @include breakpoint(lg) {
          font-size: calc(18px + 16 * ((100vw - 320px) / 680));
        }
        @include breakpoint(xl) {
          font-size: calc(18px + 16 * ((100vw - 320px) / 680));
        }
        @include max-breakpoint(md) {
          display: none;
          text-align: center;
        }
      }
    }
    .banner-image {
      margin: 8rem 0 0 0;
      padding: 1rem;
      position: relative;
      z-index: 1;
      @include max-breakpoint(md) {
        margin: 0 0 0 0;
        max-width: 450px;
      }
      @include max-breakpoint(sm) {
        margin: 0 0 0 0;
        max-width: 350px;
      }
      @include landscape-breakpoint(sm) {
        margin: 0 0 0 0;
        max-width: 350px;
      }
      &::after {
        content: "";
        display: block;
        width: 50%;
        height: 50%;
        position: absolute;
        top: 150px;
        right: 0%;
        transform: translateX(-50%);
        border-radius: 50%;
        box-shadow: -1px -100px 400px 32px #fff;
        z-index: -1;
      }
      img {
        width: 100%;
      }
    }
  }
}
